@import 'styles/index.scss';

.loading {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: all 1s;
	padding: 5rem 0 2rem;
	.spin {
		border: 3px solid rgba(91, 102, 225, 0.2);
		border-top: 3px solid $color-main;
		border-radius: 50%;
		width: 3.5em;
		height: 3.5em;
		animation: spin 1s linear infinite;
	}
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}
