@import 'styles/index.scss';

.searchbar {
	position: relative;
	min-height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: $spacing-s;

	input {
		width: 100%;
		height: 100%;
		padding-right: $spacing-s;
		letter-spacing: 0.5px;
		color: $color-text-gray-light;
		font-family: $font-secondary;
		font-weight: $font-weight-semiBold;
		color: #19202d;
		background-color: $color-background-white;
	}
}
