@import 'styles/index.scss';

.dashboard {
	max-width: 1366px;
	height: 100vh;
	background-color: $color-background-light;
	display: flex;
	flex-direction: column;
	margin-left: auto;
	margin-right: auto;
	&__filter {
		display: flex;
		justify-content: center;
		margin: $spacing-l 0;
	}
}
